body,hmtl {
	margin: 0px;
	background-color: #2a2e33;
}

#page {
	margin-top: 4%;
	margin-left: 13px; 
}

.jsonBlock{
	background-color: #1D2228;
	width: 50%;
    color: 	#E1E2E2;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 15px; 
}

h2{
    
	font-family: 'Noto Sans', sans-serif;
    color: 	#E1E2E2;
    margin-left: 20px;
    
}

.navDiv{
	padding: 0.75%;
	background-color: #1D2228; 
	position: fixed;
	width: 100%;
    top: 0%;
    z-index: 2;
    color: #E1E2E2;
}

.title{
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	display: inline-block;
	margin: 0% 1% 0% 0.5%;
    font-size: 110%;
}

.navBt{
	font-size: 110%;
	padding: 0.45%;
	font-family: 'Noto Sans', sans-serif;
	cursor: pointer;
	border: 1px solid #FB8122;
}

.navBt:hover{
	background-color: #FB8122; 
}

.menuTable{
	display: inherit;
	background-color: #E1E2E2; 
	position: sticky;
	top: 4.5%;
	float: right;
	margin-top: 0.10%; 
    height: 100%;
    padding-bottom: 100%;
	border-left: 1px solid #FB8122;

}

.menuTable table{
	border-spacing: 0px;
}

.menuTable td{
	font-family: 'Noto Sans', sans-serif;
	color: #FB8122;
	padding: 3px 4px 3px 4px; 
    font-size: 120%;
}

.active{
	background-color: #FB8122; 
}	

.selected{
	background-color: #FB8122 !important; 
}

.selected a{
	color: #E1E2E2 !important;
}

a{
	text-decoration: none;
	color: inherit;
}